div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landscape {
  width: 300px;
}

.portrait {
  width: 200px;
}